<div ng-controller="contactInformationController">
      <h2>Цена заказа : {{totalPrice}}</h2>


  <form name="userInformation">
    <h1>Контактная информация</h1>
    <table class="table">
      <tr>
        <td>
          Введите имя , на которое производится заказ:
        </td>
        <td>
          <input type="text" name="username" ng-model="user.username" required >
          <span style="color:red" ng-show="userInformation.username.$error.required">Username is required.</span>
        </td>
      </tr>
      <tr>
        <td>
          Введите адрес для доставки:
        </td>
        <td>
          <input type="text" name="address" ng-model="user.address"  required >
          <span  style="color:red" ng-show="userInformation.address.$error.required">Address is required.</span>
        </td>
      </tr>
      <tr >
        <td colspan="2" align="center">
            <button class="btn-info" ng-click="makeOrder()" >Оформить заказ</button>
        </td>
      </tr>
    </table>
  </form>

  {{user}}

  <table class="table">
    <tr ng-repeat="item in orderItems">
      <td>
        {{item}}
      </td>
    </tr>
  </table>
  {{totalPrice()}}
</div>
