<div ng-controller="contactInformationController">
  <h1>Контактная информация</h1>
  <table class="table">
    <tr>
      <td>
        Введите имя , на которое производится заказ:
      </td>
      <td>
        <input type="text" name="username">
      </td>
    </tr>
    <tr>
      <td>
        Введите адрес для доставки:
      </td>
      <td>
        <input type="text" name="address">
      </td>
    </tr>
    <tr >
      <td colspan="2" align="center">
          <button class="btn-info" ng-click="makeOrder()">Оформить заказ</button>
      </td>
    </tr>
  </table>

  <table class="table">
    <tr ng-repeat="item in orderItems">
      <td>
        {{item}}
      </td>
    </tr>
  </table>
  {{totalPrice()}}
</div>
