<div ng-controller="contactInformationController" ng-show="authenticated">
  <a href="#brands" class="btn btn-success"><span class="glyphicon glyphicon-menu-left"></span>Вернуться на главную
  </a>
  <h2>Цена заказа : {{totalPrice}}</h2>
  <form name="userInformation">
    <h1>Контактная информация</h1>
    <table class="table">
      <tr>
        <td>
          Введите имя , на которое производится заказ:
        </td>
        <td>
          <input type="text" name="username" ng-model="user.username" required >
          <span style="color:red" ng-show="userInformation.username.$error.required"></span>
        </td>
      </tr>
      <tr>
        <td>
          Введите адрес для доставки:
        </td>
        <td>
          <input type="text" name="address" ng-model="user.address"  required >
          <span  style="color:red" ng-show="userInformation.address.$error.required"></span>
        </td>
      </tr>
      <tr >
        <td colspan="2" align="center">
          <button class="btn-info" ng-click="makeOrder()" >Оформить заказ</button>
        </td>
      </tr>
    </table>
  </form>
</div>
<div  ng-show="!authenticated">
  <a href="#login">
    <p>Авторизуйтесь пожалуйста</p>
  </a>
</div>
